<nav class="navbar navbar-default navbar-static-top">
  <ul class="nav navbar-nav"></ul>

  <p class="navbar-text navbar-left" style="margin-right: 15px;"><%= link_to "MagicLight Web", magic_light_path %></b>
</p>
</nav>
